/* in App.css or index.css */

body {
  overflow-x: hidden;
}
.app-background {
  min-height: 100vh;
   /* Light, clean look */
  background-image: url('/bg-pattern.svg'); /* Optional: your pattern/image */
 
  
 
  
}

